<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务应用名称-->
    <dubbo:application name="health_service"></dubbo:application>

    <!--连接注册中心-->
    <dubbo:registry address="zookeeper://localhost:2181"></dubbo:registry>

    <!--服务协议端口，默认20880-->
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>

    <!--批量扫描，发布服务-->
   <dubbo:annotation package="com.hua.service"></dubbo:annotation>

</beans>